/* Wrapper for Authentication component */
.auth-container {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 361px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.auth-container h3 {
    font-family: Roboto, sans-serif;
    font-size: 19px;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 24px;
    text-align: center;
}

.auth-header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.auth-header button {
    flex: 1;
    background-color: #e31c25;
    padding: 12px;
    border: none;
    color: white;
    font-size: 16px;
}

.auth-header button:focus {
    background-color: #BB000E;
}

.auth-content {
    padding: 20px 40px;
}

.auth-icon {
    color: #FBDDDE !important;
}

.auth-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px 30px 50px;
}

.auth-buttons {
    font-size: 15px;
    width: auto;
    height: 34px;
    display: flex;
    justify-content: flex-end;
    padding: 0 50px 0 0;
}

.input-text {
    text-align: left;
    padding: 8px;
    width: 100%;
}

.input-text input {
    width: 100%;
}
